{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Email confirmation</title>
</head>
<body>

  <p>
  <h1>
    {% translate "Hi" %} <strong>{{ user }} </strong>
  </h1>
  </p>

  <p>
{#    Click <a href="https://consail.site">here</a> to confirm your email address#}
    {% autoescape on %}
    {{ context.message | safe }}
    {% endautoescape %}
  </p>

  <p>
    {% translate "Best regards" %}
    <br />
    <strong>{% translate "Consail team" %}</strong>
  </p>

</body>
</html>
